/* font link */
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap");

* {
  margin: 0px;
  padding: 0px;
}
html {
  padding: 0px;
  margin: 0 auto;
  font-weight: 400;
}
body {
  margin: 0px auto;
  padding: 0px;
}
p {
  margin: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
button:focus-visible,
input:focus-visible,
select:focus-visible,
textarea:focus-visible {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.navbar-toggler:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
img {
  width: 100%;
  display: block;
  height: auto;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: transparent;
}
a,
button {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
/* templates design start */
.templates_wrapper {
  padding: 123px 0px 77px 0px;
}
.template_title {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  font-size: 42px;
  text-align: center;
  color: var(--color1);
  margin-bottom: 18px;
}
.template_link_wrap_ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 28px;
}
.nav-pills .nav-link.active {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: var(--color1);
  border-radius: 0;
  border-bottom: 1px solid var(--color2);
  background-color: transparent;
}
.nav-link {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: var(--color3);
  white-space: nowrap;
  padding: 0;
}
.nav-link:hover {
  border-radius: 0;
  color: var(--color1);
  transition: 0.3s;
}

.templates_img_wrapper {
  margin: 70px 0 50px 0;
}
.template_big_img_wrapper_left {
  position: relative;
}
.template_big_img_wrapper_right {
  position: relative;
}
.template_sm_img_wrapper_left {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.template_sm_img_wrapper_right {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.template_img_quality {
  width: 70px;
  height: 28px;
  margin-top: 16px;
  margin-left: 16px;
  background: var(--color1);
  opacity: 0.4;
  backdrop-filter: blur(100px);
  border-radius: 4px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
.template_img_quality_txt {
  color: var(--color4);
  font-family: "Plus Jakarta Sans";
  font-weight: 600;
  font-size: 12px;
  opacity: 1;
}
.template_img_quality_txt_r8 {
  color: var(--color4);
  font-family: "Plus Jakarta Sans";
  font-weight: 400;
  font-size: 12px;
  opacity: 1;
}
.template_img_play_btn_wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}
.template_img_play_btn_wrap {
  width: 44px;
  height: 44px;
  background: var(--color1);
  opacity: 0.4;
  backdrop-filter: blur(100px);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.template_img_play_icon {
  width: 16px;
  height: 16px;
  opacity: 1;
}
.template_btn {
  width: 157px;
  height: 44px;
  font-family: "Plus Jakarta Sans";
  font-weight: 600;
  font-size: 16px;
  color: var(--color4);
  background-color: var(--color2);
  border: none;
  border-radius: 4px;
}
.template_btn:hover {
  background-color: #f99131;
  transition: 0.3s ease-in-out;
}
/* responsive css */
/* Desktop/Laptop */
@media only screen and (max-width: 1600px) {
}
@media only screen and (max-width: 1440px) {
}
@media only screen and (max-width: 1399px) {
  .template_sm_img_wrapper_left {
    gap: 30px;
  }
  .template_sm_img_wrapper_right {
    gap: 30px;
  }
}
@media only screen and (max-width: 1199px) {
  .template_title {
    font-size: 38px;
    margin-bottom: 18px;
  }
  .template_link_wrap_ul {
    gap: 23px;
  }
  .nav-pills .nav-link.active {
    font-size: 13px;
  }
  .nav-link {
    font-size: 13px;
  }
  .template_sm_img_wrapper_left {
    gap: 26px;
  }
  .template_sm_img_wrapper_right {
    gap: 26px;
  }
  .template_img_quality {
    width: 50px;
    height: 20px;
    margin-top: 10px;
    margin-left: 10px;
  }
  .template_img_quality_txt {
    font-size: 10px;
  }
  .template_img_quality_txt_r8 {
    font-size: 10px;
  }
  .template_img_play_btn_wrap {
    width: 34px;
    height: 34px;
  }
  .template_img_play_icon {
    width: 12px;
    height: 12px;
  }
}
/* Ipad pro */
@media only screen and (max-width: 991px) {
  .templates_wrapper {
    padding: 100px 0px 57px 0px;
  }
  .template_title {
    font-size: 32px;
    margin-bottom: 12px;
  }
  .template_link_wrap_ul {
    gap: 12px;
  }
  .nav-pills .nav-link.active {
    font-size: 10px;
  }
  .nav-link {
    font-size: 10px;
  }
  .templates_img_wrapper {
    margin: 60px 0 40px 0;
  }
  .template_sm_img_wrapper_right {
    margin-top: 1.5rem;
  }
  .template_img_quality {
    width: 40px;
    height: 18px;
    margin-top: 8px;
    margin-left: 8px;
    gap: 2px;
  }
  .template_img_quality_txt {
    font-size: 8px;
  }
  .template_img_quality_txt_r8 {
    font-size: 8px;
  }
  .template_img_play_btn_wrap {
    width: 34px;
    height: 34px;
  }
  .template_img_play_icon {
    width: 12px;
    height: 12px;
  }
  .template_btn {
    width: 140px;
    height: 38px;
    font-size: 13px;
    margin-left: 13px;
  }
}
/* Ipad/Mobile L */
@media only screen and (max-width: 767px) {
  .templates_wrapper {
    padding: 70px 0px 40px 0px;
  }
  .template_title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .template_link_wrap_ul {
    gap: 8px;
  }
  .nav-link {
    font-size: 8px;
  }
  .nav-pills .nav-link.active {
    font-size: 8px;
  }
  .templates_img_wrapper {
    margin: 40px 0 25px 0;
  }
  .template_big_img_wrapper_right {
    margin-top: 1.5rem;
  }
  .template_img_quality {
    width: 35px;
    height: 15px;
    margin-top: 6px;
    margin-left: 6px;
    gap: 2px;
  }
  .template_img_quality_txt {
    font-size: 7px;
  }
  .template_img_quality_txt_r8 {
    font-size: 7px;
  }
  .template_img_play_btn_wrap {
    width: 28px;
    height: 28px;
  }
  .template_img_play_icon {
    width: 10px;
    height: 10px;
  }
  .template_btn {
    width: 90px;
    height: 30px;
    font-size: 9px;
    margin-left: 15px;
  }
}
/* Mobile */
@media only screen and (max-width: 575px) {
  .templates_wrapper {
    padding: 60px 0px 30px 0px;
  }
  .template_title {
    font-size: 22px;
    margin-bottom: 10px;
  }
  .template_link_wrap_ul {
    gap: 6px;
  }
  .nav-link {
    font-size: 7px;
  }
  .nav-pills .nav-link.active {
    font-size: 7px;
  }
  .templates_img_wrapper {
    margin: 30px 0 15px 0;
  }
  .template_sm_img_wrapper_left {
    margin-top: 1.5rem;
  }
  .template_img_quality {
    width: 60px;
    height: 25px;
    margin-top: 15px;
    margin-left: 15px;
    gap: 4px;
  }
  .template_img_quality_txt {
    font-size: 12px;
  }
  .template_img_quality_txt_r8 {
    font-size: 12px;
  }
  .template_img_play_btn_wrap {
    width: 42px;
    height: 42px;
  }
  .template_img_play_icon {
    width: 16px;
    height: 16px;
  }
  .template_btn {
    width: 110px;
    height: 40px;
    font-size: 12px;
  }
}
@media only screen and (max-width: 420px) {
  .templates_wrapper {
    padding: 50px 0px 25px 0px;
    width: 373px;
    margin: 0 auto;
  }
  .template_title {
    font-size: 18px;
    margin-bottom: 7px;
  }
  .template_link_wrap_ul {
    gap: 4px;
  }
  .nav-link {
    font-size: 5px;
  }
  .nav-pills .nav-link.active {
    font-size: 5px;
    font-weight: 500;
  }
  .templates_img_wrapper {
    margin: 25px 0 10px 0;
  }
  .template_img_play_btn_wrap {
    width: 20px;
    height: 20px;
  }
  .template_img_play_icon {
    width: 7px;
    height: 7px;
  }
  .template_btn {
    width: 70px;
    height: 25px;
    font-size: 8px;
    margin-left: 10px;
  }
}
@media only screen and (max-width: 375px) {
}
/* templates design end */

/*------------------
    Variable 
------------------*/
:root {
  --color1: #1e2a39;
  --color2: #ffa654;
  --color3: #60687d;
  --color4: #fff;
  --bg1: #000;
  --bg2: #2c2c2b;
}
